/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  /* custom palette */
  --vt-c-blue: #7db0df;
  --vt-c-blue-soft: #97bfe5;
  --vt-c-blue-mute: #648cb2;
  --vt-c-rose: #df7db0;
  --vt-c-rose-soft: #e597bf;
  --vt-c-rose-mute: #b2648c;
  --vt-c-green: #b0df7d;
  --vt-c-green-soft: #bfe597;
  --vt-c-green-mute: #8cb264;

  /* dark mode */

  --vt-c-black: #121212;
  --vt-c-brown: #2a2929;
  --vt-c-brown-light: #545151;
  --vt-c-cream: #f0f0f0;
  --vt-c-violet: #5647ae;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-board: var(--vt-c-blue-soft);
  --color-nav-buttons: transparent;
  --color-background-list: var(--vt-c-white-soft);
  --color-background-nav: var(--vt-c-white);
  --color-background-card: var(--vt-c-white);
  --color-heading: var(--vt-c-black);
  --color-text: var(--vt-c-black);
  --color-delete: var(--vt-c-rose);
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-board: #251212;
    --color-background-list: #71655c;
    --color-background-nav: #1b2d42;
    --color-background-card: #384754;
    --color-heading: var(--vt-c-cream);
    --color-text: var(--vt-c-cream);
    --color-delete: #922323;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
